html, body {
    //background : #fff;
}

h1 {
    font-size : 50px;
}

.img {
    padding : 20px;

    img {
        border : 1px solid #eee;
        width  : 100%;
    }
}

.logo {
    float       : right;
    width       : 100px;
    margin-left : 50px;
}

.head {
    * {
        margin-bottom : 20px;
    }
}

.experience {
    > li {
        padding       : 0 0 20px;
        margin        : 0 0 20px;
        border-bottom : 1px solid #eee;

        &:last-child {
            border-bottom : none;
        }
    }

    i {
        color       : #555;
        font-weight : normal;
    }
}

.portfolio {
    a:after {
        content : attr(href);
    }
}

.b-post {
    border-bottom  : 1px solid #eee;
    padding-bottom : 10px;
    margin-bottom  : 20px;

    &:hover{
        background : #eee;
    }

    &__avatar {
        float        : left;
        margin-right : 10px;
        background   : #fff;
    }

    &__time {
        float   : right;
        padding : 3px 10px 0 0;
    }

    &__txt {
        clear       : both;
        padding-top : 10px;
    }
}

.b-username {
    padding    : 2px;
    background : #fafafa;
}

.b-fon {
    color      : #aaa;
    font-style : italic;
}

.feedback{
    font-size :10px;
}