html, body {
    background : #fafafa;
}

h1 {
    font-size : 69px;
}

img {
    margin : 20px;
}

.container {
    border-left  : 1px solid #000;
    border-right : 1px solid #000;
}

.head{
    *{
        margin-bottom : 20px;
    }
}